nnsight
ray[serve]==2.50.0
python-slugify
# Telemetry
prometheus_client
python-logging-loki
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
# Database
boto3
influxdb-client
# Google Cal Scheduling
google-api-python-client
google

# Security
RestrictedPython>=7.0
zstandard