services:
  message_broker:
    image: redis:${REDIS_VERSION}
    ports:
      - ${NDIF_BROKER_PORT}:6379

  minio:
    image: minio/minio:${MINIO_VERSION}
    command: server /data --console-address ":9001"
    ports:
      - ${NDIF_OBJECT_STORE_PORT}:9000
      - ${NDIF_OBJECT_STORE_CONSOLE_PORT}:9001

  ray:
    image: ray:${RAY_VERSION}
    shm_size: '15gb'
    volumes:
      - ~/.cache/huggingface/:/root/.cache/huggingface
      - ray-data:/tmp/ray/

    ports:
      - ${NDIF_RAY_HEAD_PORT}:6379
      - ${NDIF_RAY_CLIENT_PORT}:10001
      - ${NDIF_RAY_DASHBOARD_PORT}:8265
      - ${NDIF_RAY_SERVE_PORT}:8262
    deploy:
      replicas: 1
      # resources:
      #   reservations:
      #     devices:
      #       - driver: nvidia
      #         count: ${N_DEVICES}
      #         capabilities: [ gpu ]
    environment:
      - LOKI_URL=http://host.docker.internal:${DEV_LOKI_PORT}/loki/api/v1/push
      - NDIF_OBJECT_STORE_URL=http://host.docker.internal:${NDIF_OBJECT_STORE_PORT}
      - NDIF_API_URL=http://host.docker.internal:${NDIF_API_PORT}
      - INFLUXDB_ADDRESS=http://host.docker.internal:${DEV_INFLUXDB_PORT}
      - INFLUXDB_ADMIN_TOKEN=${SECRET_INFLUXDB_ADMIN_TOKEN}
      - INFLUXDB_ORG=${INFLUXDB_ORG}
      - INFLUXDB_BUCKET=${INFLUXDB_BUCKET}
      - NDIF_RAY_HEAD_PORT=${NDIF_RAY_HEAD_PORT}
      - NDIF_RAY_CLIENT_PORT=${NDIF_RAY_CLIENT_PORT}
      - NDIF_RAY_DASHBOARD_PORT=${NDIF_RAY_DASHBOARD_PORT}
      - NDIF_RAY_SERVE_PORT=${NDIF_RAY_SERVE_PORT}
      - NDIF_RAY_OBJECT_MANAGER_PORT=${NDIF_RAY_OBJECT_MANAGER_PORT}
      - NDIF_RAY_DASHBOARD_GRPC_PORT=${NDIF_RAY_DASHBOARD_GRPC_PORT}
      - NDIF_RAY_TEMP_DIR=${NDIF_RAY_TEMP_DIR}
      - NDIF_CONTROLLER_IMPORT_PATH=${NDIF_CONTROLLER_IMPORT_PATH}
      - SCHEDULING_GOOGLE_CALENDAR_ID=a7cbc58fdb0ddd93a260cd35f34492e8a38c360c44b72c8539e43aa99aeca436@group.calendar.google.com
      - SCHEDULING_GOOGLE_CREDS_PATH=/src/ray/deployments/controller/gcal/creds.json

    extra_hosts:
      - "host.docker.internal:host-gateway"

  api:
    image: api:${API_VERSION}
    ports:
      - ${NDIF_API_PORT}:${NDIF_API_PORT}
    environment:
      NDIF_OBJECT_STORE_URL: http://host.docker.internal:${NDIF_OBJECT_STORE_PORT}
      NDIF_BROKER_URL: redis://host.docker.internal:${NDIF_BROKER_PORT}
      NDIF_API_WORKERS: ${NDIF_API_WORKERS}
      NDIF_API_URL: http://host.docker.internal:${NDIF_API_PORT}
      NDIF_RAY_ADDRESS: ray://host.docker.internal:${NDIF_RAY_CLIENT_PORT}
      NDIF_DEV_MODE: ${NDIF_DEV_MODE}
      LOKI_URL: http://host.docker.internal:${DEV_LOKI_PORT}/loki/api/v1/push
      RAY_SERVE_QUEUE_LENGTH_RESPONSE_DEADLINE_S: 10
      INFLUXDB_ADDRESS: http://host.docker.internal:${DEV_INFLUXDB_PORT}
      INFLUXDB_ADMIN_TOKEN: ${SECRET_INFLUXDB_ADMIN_TOKEN}
      INFLUXDB_ORG: ${INFLUXDB_ORG}
      INFLUXDB_BUCKET: ${INFLUXDB_BUCKET}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      COORDINATOR_STATUS_CACHE_FREQ_S: 10
      DEV_MODE: true # If setting to false, make sure your postgres credentials are set correctly in the .env file
    env_file:
      - .env
    extra_hosts:
      - "host.docker.internal:host-gateway"

  prometheus:
    image: prom/prometheus:${PROMETHEUS_VERSION}
    ports:
      - ${DEV_PROMETHEUS_PORT}:${PROMETHEUS_INTERNAL_PORT}
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--web.enable-remote-write-receiver'
    volumes:
      - prometheus-data:/prometheus
      - ../telemetry/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - ray-data:/tmp/ray
    depends_on:
      - api
      - ray

  influxdb:
    image: influxdb:${INFLUXDB_VERSION}
    ports:
      - ${DEV_INFLUXDB_PORT}:${INFLUXDB_INTERNAL_PORT}
    environment:
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME: ${SECRET_INFLUXDB_ADMIN_USERNAME}
      DOCKER_INFLUXDB_INIT_PASSWORD: ${SECRET_INFLUXDB_ADMIN_PASSWORD}
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: ${SECRET_INFLUXDB_ADMIN_TOKEN}
      DOCKER_INFLUXDB_INIT_ORG: ${INFLUXDB_ORG}
      DOCKER_INFLUXDB_INIT_BUCKET: ${INFLUXDB_BUCKET}
    volumes:
      - influxdb2-data:/var/lib/influxdb2
      - influxdb2-config:/etc/influxdb2

  grafana:
    image: grafana/grafana:${GRAFANA_VERSION}
    ports:
      - ${DEV_GRAFANA_PORT}:${GRAFANA_INTERNAL_PORT}
    environment:
      - GF_SECURITY_ADMIN_USER=${GRAFANA_ADMIN_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_ADMIN_PASSWORD}
      - INFLUXDB_ADMIN_TOKEN=${SECRET_INFLUXDB_ADMIN_TOKEN}
    volumes:
      - grafana-storage:/var/lib/grafana
      - ../telemetry/grafana/provisioning:/etc/grafana/provisioning
      - ../telemetry/grafana/dashboards:/var/lib/grafana/dashboards
    depends_on:
      - prometheus
      - influxdb

  loki:
    image: grafana/loki:${LOKI_VERSION}
    ports:
      - ${DEV_LOKI_PORT}:${LOKI_INTERNAL_PORT}
    volumes:
      - loki-data:/loki

volumes:
  grafana-storage:
  loki-data:
  prometheus-data:
  ray-data:
  influxdb2-data:
  influxdb2-config: