channels:
  - conda-forge
dependencies:
  - python=3.10
  - pip
  - git
  - pip:
    - pip
    - setuptools
    - git+https://github.com/ndif-team/nnsight@0.4
    - ray[serve]
    # Telemetry
    - prometheus_client
    - python-logging-loki
    # Database
    - minio
    - influxdb-client
