channels:
  - conda-forge
dependencies:
  - python=3.10
  - pip
  - git
  - pip:
    - pip
    - setuptools
    # API
    - fastapi-cache2
    - fastapi==0.108.0
    - fastapi-socketio
    - python-socketio
    - redis
    #- firebase-admin
    - psycopg2-binary
    # Telemetry
    - asgiref
    - opentelemetry-api
    - opentelemetry-sdk
    - opentelemetry-exporter-otlp
    - opentelemetry-instrumentation-fastapi
    - prometheus_client
    - prometheus-fastapi-instrumentator
    - python-logging-loki
    # Http server
    - uvicorn[standard]==0.24.0
    - gunicorn
    - eventlet
    # Database
    - boto3
    # Tasks
    - ray[serve]
    - requests
    - torch
    - python-slugify
    - influxdb-client
    - nnsight